<div data-role="view" 
id="galery-view" 
data-id="galery-view"
     data-layout="tabstrip-layout" 
	 data-title="Galery"
     data-show="app.allPictures.init">
    <div id="fishes-holder">
        <a data-role="button" data-bind="click:change" id="takePicture">Take a picture</a>
        <div style="display:inline-block;">Username : </div>
        <input type="text" id="user" data-bind="value: username"/>
        <img id="myImage" style="width:100px;height:auto;"/>
        <ul data-role="listview" data-bind="source: allPictures"  data-template="galery-template"></ul> 
    </div>
</div>

