<div data-role="view" 
id="galery-view" 
data-id="galery-view"
     data-layout="tabstrip-layout" 
	 data-title="Galery"
     data-show="app.allPictures.init">
    <div id="fishes-holder">
       <!--<input type="file" id="profilePhotoFileUpload">
        <a data-role="button" id="sub" >submit</a>--> 
        <form id="fileupload" name="fileupload" enctype="multipart/form-data" method="post">
          <fieldset>
            <input type="file" name="fileselect" id="profilePhotoFileUpload"/>
            <input id="sub" type="button" value="Upload to Parse"/>
          </fieldset>
        </form>
        
        
          <ul data-role="listview" data-bind="source: allPictures" ></ul>                
    </div>
    <script>
        
            $("#sub").click(function(e) {
                console.log("innn");
                app.createFile();
            });
       
    </script>
</div>

